@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* width: 100vw; */
    background-color: rgb(41, 41, 41);
}

.logo {
    margin-left: 4%;
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
}

.searchBtn {
    /* position: relative;
    right: 10%; */
    padding: 1% 1%;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.searchBtn:focus {
    border: none;
    outline: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 50%; */
    gap: 1rem;
    margin-right: 1%;
}

.navItems {
    padding: 1%;
    list-style: none;
}

.navItems a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.navItems a:hover {
    color: rgb(227, 227, 227);
}

.navbar .postReviewBtn {
    padding: 3px 8px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom right, rgb(144, 60, 0), rgb(234, 97, 0));
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
}

.navbar .postReviewBtn:hover {
    background: linear-gradient(to bottom right, rgb(116, 48, 0), rgb(197, 82, 0));
    color: rgba(255, 255, 255, 0.845);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

main {
    background-color: #212121;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.highlighted-movie {
    width: 100%;
    height: 66vh;
    /* border: 2px solid white; */
    display: flex;
    flex: row;
    justify-content: center;
    /* align-items: start; */
}

.highlighted-movie-subcontainer {
    width: 90%;
    height: 100%;
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.highlighted-movie-poster-and-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}

.highlighted-movie-poster {
    width: 100%;
    border-radius: 20px;
}

.highlighted-movie-title {
    color: white;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: 400;
    
}

.highlighted-movie-title-and-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.highlighted-movie-rating span{
    color: white;
}

.highlighted-movie-explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;

}

.highlighted-movie-explanation-text {
    text-align: justify;
    color: white;
    font-size: 0.8rem;
    margin: 10px 10px;
    border: 2px solid;
    width: 100%;
}

.highlighted-movie-explanation-readmore {
    padding: 8px 8px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom right, rgb(144, 60, 0), rgb(234, 97, 0));
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
}

.highlighted-movie-explanation-readmore:hover {
    background: linear-gradient(to bottom right, rgb(116, 48, 0), rgb(197, 82, 0));
    color: rgba(255, 255, 255, 0.845);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.more-movies-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.latest-reviews-text{
    margin-top: 4px;
    padding: 1px;
}

.latest-reviews-text span{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 4px 10px;
}

.more-movies-subcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* height: 90%; */
    justify-content: space-evenly;
    align-items: center;
}

.movie-cards {
    width: 180px;
    height: 300px;
    margin-bottom: 20px;
    background-color: rgba(78, 78, 78, 0.183);
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.movie-cards p{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 3px;
}

.movie-cards .movie-card-short-text{
    font-size: 0.9rem;
    font-weight: 300;
}

.movie-cards:hover {
    width: 183px;
    transition: all 0.2s ease-in-out;
}

.movie-cards-image {
    width: 100%;
    border-radius: 12px;
    /* height: 50%; */

}